on early-fs
#EMMC related
    mkdir /system
    mkdir /data 0771 system system
    mkdir /hidden 0771 system system
    mkdir /hidden/data 0771 system system
    mkdir /cache 0771 system system

    mount ext3 /dev/block/mmcblk0p7 /system wait ro data=ordered
    mount ext3 /dev/block/mmcblk0p8 /data wait nosuid nodev data=ordered
    mount ext3 /dev/block/mmcblk0p10 /hidden wait nosuid nodev data=ordered
    mount ext3 /dev/block/mmcblk0p9 /hidden/data nosuid nodev data=ordered
    mount ext3 /dev/block/mmcblk0p11 /cache wait nosuid nodev data=ordered

on init
    chown compass system /dev/compass
    chmod 0777 /dev/compass

    chown compass system /dev/akm8975_dev
    chown compass system /dev/akm8975_aot
    chown compass system /dev/bma150
    chmod 0777 /dev/akm8975_dev
    chmod 0777 /dev/akm8975_aot
    chmod 0777 /dev/bma150

    chmod 0666 /sys/module/akm8975/parameters/als_enabled
    chmod 0666 /sys/module/akm8975/parameters/ps_enabled

    chmod 0777 /system/bin/CIR_Test
    chmod 0666 /dev/ttyHS1
    chmod 0666 /dev/ir_mcu

    chown compass system /dev/ltr502als_alsps
    chmod 0777 /dev/ltr502als_alsps


on boot
	# Set permissions for RIL
    mkdir /data/radio 0770 radio radio

    # Tweak background writeout
    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_background_ratio  5

    chown system system /sys/module/android/parameters/product_id
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/msm_hsusb/gadget/wakeup


    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/button-backlight/blink
    chown system system /sys/class/leds/red/device/ledon
    chown system system /sys/class/leds/red/device/ledoff

    chmod 0655 /sys/bus/platform/devices/rs300000a7.65536/force_sync
    chown system system /sys/bus/platform/devices/rs300000a7.65536/force_sync

    chmod 0665 /dev/graphics/fb0
    chmod 0665 /dev/graphics/fb1

    chmod 0666 /sys/class/leds/button-backlight/brightness

    chmod 0666 /sys/class/leds/red/brightness
    chmod 0666 /sys/class/leds/green/brightness

	chown compass system /dev/yas529
    chmod 0666 /dev/yas529
    chown compass system /dev/bma150
    chmod 0666 /dev/ltr502als_alsps
      
    chmod 0664 /sys/class/input/input2/enable
    chmod 0664 /sys/class/input/input2/data
    chmod 0664 /sys/class/input/input2/name
    chown system input /sys/class/input/input2/enable
	chown system input /sys/class/input/input2/delay
	chown system input /sys/class/input/input2/wake
    
    chmod 0664 /sys/class/input/input3/enable
    chmod 0664 /sys/class/input/input3/data
    chmod 0664 /sys/class/input/input3/name
    chown system input /sys/class/input/input3/enable
	chown system input /sys/class/input/input3/delay
	chown system input /sys/class/input/input3/wake
	
	chmod 0664 /sys/class/input/input4/enable
    chmod 0664 /sys/class/input/input4/data
    chmod 0664 /sys/class/input/input4/name
	chown system input /sys/class/input/input4/enable
	chown system input /sys/class/input/input4/delay
	chown system input /sys/class/input/input4/wake
	
	chmod 0664 /sys/class/input/input5/enable
    chmod 0664 /sys/class/input/input5/data
    chmod 0664 /sys/class/input/input5/name
	chown system input /sys/class/input/input5/enable
	chown system input /sys/class/input/input5/delay
	chown system input /sys/class/input/input5/wake

   	chmod 0664 /sys/class/input/input6/enable
    chmod 0664 /sys/class/input/input6/data
    chmod 0664 /sys/class/input/input6/name	
	chown system input /sys/class/input/input6/enable
	chown system input /sys/class/input/input6/delay
	chown system input /sys/class/input/input6/wake

    chmod 0664 /sys/class/input/input7/enable
    chmod 0664 /sys/class/input/input7/data
    chmod 0664 /sys/class/input/input7/name	
	chown system input /sys/class/input/input7/enable
	chown system input /sys/class/input/input7/delay
	chown system input /sys/class/input/input7/wake

    chmod 0664 /sys/class/input/input8/enable
    chmod 0664 /sys/class/input/input8/data
    chmod 0664 /sys/class/input/input8/name	
	chown system input /sys/class/input/input8/enable
	chown system input /sys/class/input/input8/delay
	chown system input /sys/class/input/input8/wake
	
    chmod 0664 /sys/class/input/input9/enable
    chmod 0664 /sys/class/input/input9/data
    chmod 0664 /sys/class/input/input9/name
	chown system input /sys/class/input/input9/enable
	chown system input /sys/class/input/input9/delay
	chown system input /sys/class/input/input9/wake
	
    chmod 0664 /sys/class/input/input10/enable
    chmod 0664 /sys/class/input/input10/data
    chmod 0664 /sys/class/input/input10/name
	chown system input /sys/class/input/input10/enable
	chown system input /sys/class/input/input10/delay
	chown system input /sys/class/input/input10/wake
	
   	chmod 0664 /sys/class/input/input11/enable
    chmod 0664 /sys/class/input/input11/data
    chmod 0664 /sys/class/input/input11/name
	chown system input /sys/class/input/input11/enable
	chown system input /sys/class/input/input11/delay
	chown system input /sys/class/input/input11/wake

    chmod 4777 /system/bin/mm-audio-mvs-test-int
    chmod 4777 /system/bin/mm-audio-mvs-test-ext

    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0666 /sys/module/bluetooth_power/parameters/power
    chmod 0666 /sys/class/rfkill/rfkill0/state
    chmod 0666 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0666 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0666 /sys/devices/platform/msm_serial_hs.0/clock
    chmod 4755 /system/bin/btwlancoex

    chmod 0666 /sys/class/rfkill/rfkill1/state
    chmod 0666 /system/etc/hostapd/hostapd.conf

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    symlink /persist/qcom_wlan_nv.bin /etc/firmware/wlan/qcom_wlan_nv.bin
    setprop wifi.interface wlan0

    #Provide the access to hostapd.conf only to root and group
    chmod 0660 /data/hostapd/hostapd.conf

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000
    start btwlancoex

on property:init.svc.bluetoothd=stopped
    stop btwlancoex

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service btwlancoex /system/bin/sh /system/etc/init.qcom.coex.sh
    user shell
    group bluetooth net_bt_admin
    disabled
    oneshot

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p14 /dev/block/mmcblk0p15
    user root
    disabled

on property:ro.emmc=1
    start rmt_storage

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0

service qmuxd /system/bin/qmuxd

service wpdiagd /system/bin/wpdiagd
    oneshot
    socket wpdiagd stream 666

service netmgrd /system/bin/netmgrd

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

service wiperiface /system/bin/wiperiface
    user location
    group qcom_oncrpc
    oneshot

service gpsone_daemon /system/bin/gpsone_daemon
    user root
    group qcom_oncrpc
    disabled

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    user system
    group system qcom_oncrpc
    disabled
    oneshot

service qcom-sh /system/bin/sh /init.qcom.sh
    user root
    oneshot

on property:ro.service.ckpd.enable=1
    start ckpd

service hdmid /system/bin/hdmid
    socket hdmid stream 0660 root system graphics
    disabled

on property:ro.hdmi.enable=true
    start hdmid

service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    group radio
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

service akmd /system/bin/akmd8975
	user compass
	group system

service geomagneticd /system/bin/geomagneticd
    user compass
    group system input

service orientationd /system/bin/orientationd
    user compass
    group system input
	
service proximityd /system/bin/proximityd
    user compass
    group system input
	
service lightd /system/bin/lightd
    user compass
    group system input

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
    user root
    group wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wapi_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant_wapi -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
    user root
    group wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -BKL
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

service qcom-wifi /system/bin/sh /system/etc/init.qcom.wifi.sh
    user root
    disabled
    oneshot

service hostapd /system/bin/hostapd -dddd /system/etc/hostapd/hostapd.conf
    user root
    group root
    oneshot
    disabled
