/dev/system_bus_freq    0660    system      system
/dev/cpu_dma_latency    0660    system      system
/dev/rfkill             0640    root        root

#radio
/dev/oncrpc/*           0660    radio       system
/dev/smdcntl0           0640    radio       radio
/dev/smdcntl1           0640    radio       radio
/dev/smdcntl2           0640    radio       radio
/dev/smd0               0640    radio       radio
/dev/qmi0               0640    radio       radio
/dev/qmi1               0640    radio       radio
/dev/qmi2               0640    radio       radio 

#camera
/dev/msm_camera/*       0660    system      system

#sensors
/dev/akm8975_daemon     0640    compass     system
/dev/akm8975_aot        0640    compass     system
/dev/yas529		        0640    compass     system
/dev/bma150			    0640    compass     system
/dev/ltr502als_alsps    0640    compass     system

#audio
/dev/msm_audio_dev_ctrl 0660    system      audio
/dev/msm_acdb           0660    system      audio
/dev/msm_pcm_lp_dec     0660    system      audio
/dev/pmem_audio         0660    system      audio
/dev/pmem_adsp*         0660    system      audio
/dev/gemini*	        0660    system      audio
/dev/adsp/*             0660    system      audio
/dev/snd/*              0660    system      audio
/dev/msm_pcm_out*       0660    system      audio
/dev/msm_pcm_in*        0660    system      audio
/dev/msm_mp3*           0660    system      audio
/dev/msm_vidc_reg       0660    system      audio
/dev/msm_vidc_dec       0660    system      audio
/dev/msm_vidc_enc       0660    system      audio

#graphics
/dev/msm_rotator        0660    system      graphics
/dev/kgsl-2d0           0666    root        root
/dev/kgsl-3d0           0666    root        root
