/dev/system_bus_freq    0660    system      system
/dev/cpu_dma_latency    0660    system      system
/dev/rfkill             0640    root        root

#radio
/dev/smd7                 0640   radio      radio
/dev/smdcntl0             0640   radio      radio
/dev/smdcntl1             0640   radio      radio
/dev/smdcntl2             0640   radio      radio
/dev/smdcntl3             0640   radio      radio
/dev/smdcntl4             0640   radio      radio
/dev/smdcntl5             0640   radio      radio
/dev/smdcntl6             0640   radio      radio
/dev/smdcntl7             0640   radio      radio
/dev/sdioctl0             0640   radio      radio
/dev/sdioctl1             0640   radio      radio
/dev/sdioctl2             0640   radio      radio
/dev/sdioctl3             0640   radio      radio
/dev/sdioctl4             0640   radio      radio
/dev/sdioctl5             0640   radio      radio
/dev/sdioctl6             0640   radio      radio
/dev/sdioctl7             0640   radio      radio
/dev/qmi                  0640   radio      radio
/dev/qmi0                 0640   radio      radio
/dev/qmi1                 0640   radio      radio
/dev/qmi2                 0640   radio      radio

#camera
/dev/msm_camera/*       0660    system      system

#sensors
/dev/akm8975_daemon     0640    compass     system
/dev/akm8975_aot        0640    compass     system
/dev/yas529		0640    compass     system
/dev/bma150		0640    compass     system
/dev/ltr502als_alsps    0640    compass     system

#video
/dev/msm_vidc_reg         0660  system       audio
/dev/msm_vidc_dec         0660  system       audio
/dev/msm_vidc_enc         0660  system       audio

#audio
/dev/msm_amrnb            0660  system       audio
/dev/msm_amrwb            0660  system       audio
/dev/msm_aac              0660  system       audio
/dev/msm_qcelp            0660  system       audio
/dev/msm_evrc             0660  system       audio
/dev/msm_fm               0660  system       audio
/dev/msm_acdb             0660  system       audio
/dev/msm_wma              0660  system       audio
/dev/msm_wmapro           0660  system       audio
/dev/msm_qcelp_in         0660  system       audio
/dev/msm_evrc_in          0660  system       audio
/dev/msm_preproc_ctl      0660  system       audio
/dev/msm_a2dp_in          0640  system       audio
/dev/msm_audio_dev_ctrl 0660    system      audio
/dev/msm_acdb           0660    system      audio
/dev/msm_pcm_lp_dec     0660    system      audio
/dev/pmem_audio         0660    system      audio
/dev/pmem_adsp*         0660    system      audio
/dev/adsp/*             0660    system      audio
/dev/snd/*              0660    system      audio
/dev/msm_pcm_out*       0660    system      audio
/dev/msm_pcm_in*        0660    system      audio
/dev/msm_mp3*           0660    system      audio
/dev/gemini0	        0660    system      system

#graphics
/dev/msm_rotator        0660    system      graphics
